{% extends 'base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <h1 class="mb-4">Посты пользователей</h1>
    <div class="row">
        <!-- Карточка одоного поста пользователей -->
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">заголовок поста</h5>
                    <p class="card-text">текст поста</p>
                    <div class="row">
                        <div class="col-6">
                            <p class="card-text text-secondary">Дата публикации: дата</p>
                        </div>
                        <div class="col-6 text-end">
                            <p class="card-text">Автор: имя автора</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- таких карточек много... -->
        
    </div>
{% endblock %}
