<!-- Подключение базового шаблона -->


{% block title %}Профиль пользователя{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card mt-5">
            <div class="card-header">
                Профиль пользователя
            </div>
            <div class="card-body">
                <h5 class="card-title">Имя пользователя: имя</h5>
                <p class="card-text">Количество публикаций: кол-во</p>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center mt-5">
    <div class="col-md-8">
        <h2 class="mb-3">Публикации</h2>
        <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#newPublicationModal">
            Добавить новую публикацию
        </button>
        <!-- Модальное окно для добавления новой публикации -->
        <div class="modal fade" id="newPublicationModal" tabindex="-1" aria-labelledby="newPublicationModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="newPublicationModalLabel">Новая публикация</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="/profile" method="post">
                            <div class="mb-3">
                                <label for="title" class="form-label">Заголовок</label>
                                <input type="text" class="form-control" id="title" name="title" required>
                            </div>
                            <div class="mb-3">
                                <label for="text" class="form-label">Текст публикации</label>
                                <textarea class="form-control" id="text" name="text" rows="4" required></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Добавить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Список карточек публикаций -->

        <!-- Карточка одоного поста пользователя -->
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">заголовок поста</h5>
                <p class="card-text">текст поста</p>
                <p class="card-text text-secondary"> Дата публикации: дата</p>
            </div>
        </div>
        <!-- таких карточек много... -->

    </div>
</div>
{% endblock %}
